/* style.css */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
div.cliear {
    clear: both;
}
div.container {
    max-width: 1200px;
    margin: 0 auto;
    font-family: "Work Sans", sans-serif;
}

header {
    background-color: #4A90E2;
    padding: 20px 0;
    border-bottom: 4px solid #fff;
}


header img {
    margin: 0;
    width: 84px;
    padding-left: 30px;
}

header p {
    display: inline-block;
    font-size: 21px;
    font-family: "Work Sans", sans-serif;
    font-weight: 600;
    display: inline;
    position: relative;
    top: -10px;
}

section.consultar-clima{
    padding: 20px;
    background-color: #e7e7e7;
    text-align: center;
}

.autocomplete-container{
    padding: 40px 0;
    max-width: 400px;
    width: 100%;
}

input#cidade {
    max-width: 350px;
    width: 100%;
    border: 1px solid #000;
    font-size: 18px;
    box-shadow: 1px 1px 6px;
    /*background-color: #6589a0;*/
    background-color: #a7caf1;
    letter-spacing: 1px;
    display: inline;
}

input#cidade::placeholder {
    color: rgb(0, 0, 0, 0.8);
}

input#cidade:focus {
    background-color: #4A90E2;
    color: #fff;
    transition: 0.6s;
}

input#cidade {
  padding: 10px;
  margin: 10px 2%;
}

.autocomplete-container{
    position: relative;
    display: inline-block;
}

.autocomplete-list{
    position: absolute;
    border: 1px solid #d4d4d4;
    border-bottom: none;
    border-top: none;
    z-index: 99;
    top: 70%;
    left: 25px;
    right: 0;
    max-width: 350px;
    max-height: 200px;
    overflow-y: auto;
}

.autocomplete-list-item {
    padding: 10px;
    cursor: pointer;
    background-color: #e9e9e9;
    border-bottom: 1px solid #081325;
}

.autocomplete-list-item:hover {
    background-color: #a7caf1;
}

button {
    padding: 10px;
    margin: 10px;
    width: 100%;
    max-width: 100px;
    border-radius: 10px;
    height: 45px;
    cursor: pointer;
    display: inline;
    background-color: #4A90E2;
    border: none;
    font-family: "Work Sans", sans-serif;
    font-size: 18px;
}

button:hover{
    background-color: #a7caf1;
    transition: 0.4s;
}

div.cards-contents h2 {
    font-size: 25px;
    padding: 10px 0;
}

div.cards-contents {
    border: 2px solid #000;
    border-radius: 20px;
    max-width: 500px;
    height: auto;
    margin: 20px auto;
    padding: 5px;
}

.info-cards{
    border: 1px solid #999999;
    padding: 10px;
    border-radius: 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 7px;
    box-shadow: 4px 4px 6px #a7caf1;
}

.info-cards p {
    margin: 0 2% 0 1%;
    font-weight: bold;
}

.info-cards span {
    font-weight: normal;
}

footer{
    /*background-color: #e7e7e7;*/
    background-color: #4A90E2;
    color: #000;
    font-size: 17px;
    padding: 60px 2%;

}

footer p{
    padding: 10px;
    font-weight: 500;
    display: inline;
}

footer a {
    color: #000;
    display: inline;
    text-decoration: none;
    font-style: italic;
    margin-left: 3px;
}

footer img{
    float: right;
}