/* style.css */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Work Sans", sans-serif;
}

div.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 4%;
}

header {
    background-color: #4A90E2;
    padding: 20px 0;
    border-bottom: 4px solid #fff;
}


header img.logo {
    margin: 0;
    width: 52px;
    padding: 0 2%;
}

header p {
    font-size: 18px;
    font-family: "Work Sans", sans-serif;
    font-weight: 600;
    display: inline-block;
}

section.consultar-clima{
    background-color: #e7e7e7;
    text-align: center;
}

.banner {
    background-image: url(../img/pexels-serenakoi-final-de-tarde.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top;
    height: 360px;
}

.search-container{
    padding: 40px 5%;
}

input#cidade {
    max-width: 350px;
    width: 100%;
    border: 1px solid #000;
    font-size: 18px;
    box-shadow: 1px 1px 6px;
    /*background-color: #6589a0;*/
    background-color: #a7caf1;
    letter-spacing: 1px;
    padding: 10px;
}

input#cidade::placeholder {
    color: rgb(0, 0, 0, 0.8);
}

input#cidade:focus {
    background-color: #4A90E2;
    color: #fff;
    transition: 0.6s;
}

.container-autocomplete-list {
    position: relative;
}

.autocomplete-list{
    position: absolute;
    border: 1px solid #d4d4d4;
    border-bottom: none;
    border-top: none;
    z-index: 99;
    top: 10%;
    left: 0px;
    right: 0;
    max-height: 200px;
    overflow-y: auto;
}

.autocomplete-list-item {
    padding: 10px;
    cursor: pointer;
    background-color: #e9e9e9;
    border-bottom: 1px solid #081325;
}

.autocomplete-list-item:hover {
    background-color: #a7caf1;
}

button {
    margin: 40px 10px;
    width: 100%;
    max-width: 100px;
    border-radius: 10px;
    height: 43px;
    cursor: pointer;
    display: inline;
    background-color: #4A90E2;
    border: none;
    font-family: "Work Sans", sans-serif;
    font-size: 18px;
}

button:hover{
    background-color: #a7caf1;
    transition: 0.4s;
}

div.cards-contents h2 {
    font-size: 25px;
    padding: 10px 0;
}

div.cards-contents {
    border: 2px solid #000;
    border-radius: 10px;
    max-width: 500px;
    height: auto;
    margin: 40px auto;
    padding: 5px;
    display: flex;
    align-items: stretch;
    justify-content: center;
    flex-direction: column;
    gap: 24px;
}

.info-cards{
    border: 1px solid #999999;
    padding: 10px 15px;
    border-radius: 10px;
    box-shadow: 4px 4px 6px #a7caf1;
    min-width: 280px;
    height: auto;
    margin: 0 auto;
}

.info-cards-titulo {
    border-bottom: 1px solid #999999;
    background: none;
    padding: 5px 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.info-cards p {
    margin: 0;
    font-weight: bold;
    font-size: 16px;
}

.resposta-consulta {
    padding: 20px 0;
}

.info-cards span {
    font-size: 25px;
    display: inline-block;
}

.dados-consulta-wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 12px;
    padding: 20px 0;
}

.dados-direcao-vento-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 12px;
}

.dados-direcao-vento-wrapper span {
    padding: 0;
}

#condition {
    font-size: 20px;
    padding: 0;
}

.speed-wind {
    width: 40px;
}

.humidity-icon {
    width: 48px;
}

#umidade {
    font-size: 65px;
    padding: 20px 0;
}

.container-qualidade-do-ar {
    border: 1px solid #c0c0c0;
}

.titulo-qualidade-do-ar {
    display: flex;
    justify-content: space-between;
    padding: 10px;
}

.container-card-poluente {
    display: flex;
    flex-direction: column;
}

.card-poluente {
    border-top: 2px solid #c0c0c0;
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 12px;
    padding: 10px;
    margin-top: 10px;
}

.poluente p, .resultado-poluente span {
    font-size: 20px;
}

.significado-poluente p {
    font-size: 14px;
    letter-spacing: 1px;
    text-align: justify;
    padding: 8px 0;
}

footer{
    /*background-color: #e7e7e7;*/
    background-color: #4A90E2;
    color: #000;
    font-size: 17px;
    padding: 60px 2%;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

footer p{
    padding: 10px;
    font-weight: 500;
    display: inline;
}

footer a {
    color: #000;
    display: inline;
    text-decoration: none;
    font-style: italic;
    margin-left: 3px;
}